{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_tags %}
{% block title %}
{% trans "Terms Of Service" %} | {{ settings.SITE_NAME }}
{% endblock title %}
{% block content %}
<h3>
    {% trans "Terms Of Service" %}
</h3>
{% blocktrans %}
<!-- TERMS OF SERVICE -->
<p>
    In order to use this site and its services you agree that:
</p>
<ol>
    <li>
        You are at least 13 years at the present date.
    </li>
    <li>
        You will be the only one to use the account you created.
    </li>
    <li>
        You will respect the laws...
    </li>
    <ol>
        <li>
            You will respect the laws of your country while using this platform.
        </li>
        <li>
            You will also respect brazillian laws while using this platform.
        </li>
        <li>
            In case of legislation conflict, obey the legislation from your country
            in first place.
        </li>
        <li>
            Religious "laws" or "principles" are not covered.
        </li>
    </ol>
    <li>
        You are solely and entirely responsible for any damages that the content
        created, published or distributed by your account is your entire
        responsibility.
    </li>
    <li>
        You won't take actions that knowingly overloads or makes the service
        unavailable.
    </li>
</ol>
<p>
    About the rights of submitted content:
</p>
<ol>
    <li>
        You agree to don't use the platform to submit, share or transmit any
        form of data that constitutes porn, gambling, drug dealing, incitement
        to crime, incitement to suicide, warez, piracy, illegal content or hate
        speech.
    </li>
    <li>
        You agree to only submit content you have the right to do so, respecting
        copyrights.
    </li>
    <li>
        By submiting content to the platform, you agree that your content will
        be stored, copied, distributed, indexed, processed and backed up in
        order to keep the service available and to improve it.
    </li>
</ol>
<p>
    About the termination of the account:
</p>
<ol>
    <li>
        It won't be reversed unless facts are presented.
    </li>
    <li>
        If terminated by the user, all content produced by the account will
        remain with the same availability as before.
    </li>
    <li>
        If terminated by the administrator, all content produced by the account
        that doesn't violate the rules may remain with the same availability as
        before; in special cases, they may be entirely deleted from the records.
    </li>
</ol>
<p>
    About the service provision:
</p>
<ol>
    <li>
        In order to access this platform it may be required some hardware and
        software that the platform is not obliged in any way to provide.
    </li>
    <li>
        The administrator of the platform is not responsible for any loss you
        have by using it or relying on it.
    </li>
    <li>
        The administration reserves the right to interrupt the service at any
        time for any reason they consider appropriate.
    </li>
</ol>
{% endblocktrans %}
{% endblock content %}
